@font-face {
  font-family: "ChiuKong Gothic CL";
  src: url("../public/ChiuKongGothicVFCL.woff2") format('woff2');
}

body {
  font-family: "ChiuKong Gothic CL", Arial, Helvetica, sans-serif!important;
}